# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environments
venv/
env/
.env

# Scratch and temporary directories
scratch/
tmp/
*.tmp
*.log

# IDE & OS files
.vscode/
.idea/
.DS_Store
# Standalone repositories / other projects
Görüntü_isleme_YAKLAŞIMLARIM/
notebooks/
